.global {
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
    transition-duration: 0.2s;
}

.Primary {
    background-color: #33a0ff;
}

.Primary:hover {
    background-color: #2e90e5;
}

.Primary:active {
    color: #2e90e5;
    border: 1px #2e90e5 solid;
    background-color: #FFFFFF;
}

.Danger {
    background-color: #ff6875;
}

.Danger:hover {
    background-color: #ff4252;
    
}

.Danger:active {
    color: #ff4252;
    border: 1px #ff4252 solid;
    background-color: #FFFFFF;
}

.Success {
    background-color: #0AD00A;
}

.Success:hover {
    background-color: #07C107;
}

.Success:active {
    color: #07C107;
    border: 1px #07C107 solid;
    background-color: #FFFFFF;
}

.Warning {
    background-color: #FFC600;
}

.Warning:hover {
    background-color: #EBB600;
}

.Warning:active {
    color: #EBB600;
    border: 1px #EBB600 solid;
    background-color: #FFFFFF;
}

.Default {
    background-color: #22262A;
}

.Default:hover {
    background-color: #13161A;
}

.Default:active {
    color: #13161A;
    border: 1px #13161A solid;
    background-color: #FFFFFF;
}